body{
    background-color: rgb(173, 173, 173);
}
#nav1{
    background-color: #d3202a;
}

.logo{
    vertical-align: middle;
    width: 11em;
    margin: -20px -0px -10px -5px;
}

#navbarScrollingDropdown{
    
    font-weight: bold;
    background-color: white;
   border-radius: 10px;
}

