body{
    background-color: rgb(173, 173, 173);
}
#nav1{
    background-color: #d3202a;
    position: fixed;
    z-index: 4;
    width:100%;
    
}

.logo{
    vertical-align: middle;
    width: 11em;
    margin: -20px -0px -10px -5px;
}

#navbarScrollingDropdown{
    
    font-weight: bold;
    background-color:#f3f6f6;
   border-radius: 6px;
}

