#header2{
    height :3em;
}

.hdr2{
    width:10em;
    height: 10em;
}

.btn1{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 0.5%;
    border: none;
    border-radius: 1em;
    
}
.btn:hover{
    border-color: red;
}




